/* non class/ standard css */
main,
header,
footer {
  width: 1200px;
  margin: auto;
  font-family: BrandonGrotesqueWeb-Black, "Arial Black", Arial, Helvetica,
    sans-serif;
}
header,
footer {
  background-color: rgb(200, 32, 32);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}
main {
  margin: 1rem;
  margin: auto;
}
h1,
footer {
  color: white;
}
h2 {
  box-shadow: 0px 1px black;
}
img {
  float: right;
  height: max-content;
  width: 20rem;
  margin: 2rem;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.399);
}

/* class/id selectors */
#byui {
  text-decoration: underline;
}
